body {
  background-color: #f6f6f8;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
.container-style {
  margin-top: 3rem;
}

.first-header {
  text-align: center;
}

.sentence-width {
  margin-top: 2rem;
  text-align: center;
  width: 40%;
}

.one-card {
  width: 30%;
  background-color: white;
  padding: 2rem;
  border-top: 5px solid;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.all-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}
.two-card {
  width: 30%;
  display: flex;
  flex-direction: column;
  rotate: 30deg;
  gap: 1rem;
}
.inside-two-card {
  width: 100%;
  background-color: white;
  padding: 2rem;
  border-top: 5px solid;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.image-align {
  text-align: right;
}
.cyan-color {
  border-color: hsl(180, 62%, 55%);
}
.red-color {
  border-color: hsl(0, 78%, 62%);
}
.yellow-color {
  border-color: hsl(34, 97%, 64%);
}
.blue-color {
  border-color: hsl(212, 86%, 64%);
}
@media (max-width: 768px) {
  .all-card {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 100%;
  }
  .one-card {
    width: 70%;
  }
  .two-card {
    width: 70%;
    gap: 1rem;
  }
  .sentence-width {
    width: 80%;
  }
} ;
